/CodeForcess/nbproject/private/
/CodeForcess/build/
/CodeForces_Day2/nbproject/private/
/CodeForces_Day1/nbproject/private/
/CodeForces_Day3/nbproject/private/
/CodeForces_Day3/build/
/CSD_CauPD_LAB2/nbproject/private/
/CSD_CauPD_LAB2/build/